.container {
  position: relative;
  display: inline-block;
}

.container-for-img {
  position: relative;
}

.cloth {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.discount {
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  right: 0;
  padding: 6px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.add-to-cart-div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.add-to-cart-button {
  background-color: white;
  color: black;
  padding: 6px 10px;
  cursor: pointer;

  transition: all 0.1s;
}

.add-to-cart-button:hover {
  background-color: rgb(229, 229, 229);
}

.add-to-cart-button:active {
  background-color: gray;
}
