h1 {
  margin: 0;
}

p {
}

.right-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 128px;
  background-color: green;
  color: white;
}

.overlay {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 400px;
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
