body {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 50px;
}

.pfp-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  align-items: center;
  row-gap: 4px;
  padding-top: 10px;
  background-color: #23272a;
}

.pfp {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 18px;
}

.server-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50px;
  width: 128px;
  padding: 10px 10px;
  padding-top: 10px;
  background-color: #2c2f33;
}

.name-and-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 12px;
}

.server-name {
  padding-left: 6px;
  font-size: 10px;
}

.channel {
  font-size: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 8px;
  border-radius: 10px;
  color: rgb(163, 162, 162);
  border: none;
  cursor: pointer;

  transition: all 0.15s;
}

.channel:hover {
  background-color: rgba(193, 193, 193, 0.6);
  color: white;
}

.add-channel-button {
  color: rgb(163, 162, 162);
  padding: 1px 4px;
  background-color: #2c2f33;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.15s;
}

.add-channel-button:hover {
  background-color: rgba(193, 193, 193, 0.6);
  color: white;
}
