.outermost {
  width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 16px;
  padding-right: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading {
  color: gray;
  font-size: 12px;
}

.email {
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  transition: background-color 0.15s ease;
}

.email:hover {
  background-color: rgb(231, 231, 231);
}

.img-div {
  width: 56px;
}

.pfp {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 30px;
}

.main-details {
  display: grid;
  row-gap: 2px;
  flex: 1;
}

.sender-and-time-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.mail-subject,
.mail-content-preview {
  font-size: 14px;
}

.sender,
.time,
.mail-subject {
  font-weight: 600;
}

.mail-content-preview {
  color: gray;
}
