p {
  font-family: Verdana;
  margin-top: 0;
  margin-bottom: 0;
}

.course-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3px;
}

.course-difficulty {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

.course-desc {
  font-size: 14px;
  width: 250px;
  margin-bottom: 20px;
}

.start {
  background-color: #04aa6d;
  font-family: Verdana;
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s;
}

.start:hover {
  background-color: #059862;
}

.start:active {
  background-color: #059862;
  opacity: 0.8;
}